[submodule "TypeTraits"]
	path = TypeTraits
	url = git@github.com:kingkybel/TypeTraits.git
[submodule "ContainerConvert"]
	path = ContainerConvert
	url = git@github.com:kingkybel/ContainerConvert.git
